<?xml version="1.0" encoding="utf-8"?>
<RewriterConfig>
  <Rules>


    <!-- 前台页面-->
    <RewriterRule>
      <LookFor>/</LookFor>
      <SendTo>~/_shop_web/index.aspx</SendTo>
    </RewriterRule>


    <!--登录-->
    <RewriterRule>
      <LookFor>/login.html</LookFor>
      <SendTo>~/_shop_web/ajaxService.aspx?action=login</SendTo>
    </RewriterRule>

    <!--登录验证-->
    <RewriterRule>
      <LookFor>/trylogin.html</LookFor>
      <SendTo>~/_shop_web/ajaxService.aspx?action=trylogin</SendTo>
    </RewriterRule>





    <!--退出-->
    <RewriterRule>
      <LookFor>/logout.html</LookFor>
      <SendTo>~/_shop_web/ajaxService.aspx?action=logout</SendTo>
    </RewriterRule>


    <!--会员签到-->
    <RewriterRule>
      <LookFor>/checkIn.html</LookFor>
      <SendTo>~/_shop_web/ajaxService.aspx?action=checkIn</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/getcheckInStatus.html</LookFor>
      <SendTo>~/_shop_web/ajaxService.aspx?action=getcheckinstatus</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/games.html</LookFor>
      <SendTo>~/_shop_web/games.aspx</SendTo>
    </RewriterRule>

    <!--常见问题-->
    <RewriterRule>
      <LookFor>/qa.html</LookFor>
      <SendTo>~/_shop_web/qa.aspx</SendTo>
    </RewriterRule>

    <!--金币规则-->
    <RewriterRule>
      <LookFor>/rule.html</LookFor>
      <SendTo>~/_shop_web/rule.aspx</SendTo>
    </RewriterRule>

    <!--帮助中心-->
    <RewriterRule>
      <LookFor>/help.html</LookFor>
      <SendTo>~/_shop_web/helps.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/help/(\w+).html</LookFor>
      <SendTo>~/_shop_web/helps.aspx?newsid=$1</SendTo>
    </RewriterRule>

    <!--全部产品-->
    <RewriterRule>
      <LookFor>/products.html</LookFor>
      <SendTo>~/_shop_web/products.aspx</SendTo>
    </RewriterRule>
    <!--产品详细-->
    <RewriterRule>
      <LookFor>/proDe/(\w+).html</LookFor>
      <SendTo>~/_shop_web/productDetail.aspx?productno=$1</SendTo>
    </RewriterRule>
    <!--购买商品-->
    <RewriterRule>
      <LookFor>/addtocart.html</LookFor>
      <SendTo>~/_shop_web/ajaxService.aspx?action=addtocart</SendTo>
    </RewriterRule>

    <!--限时秒杀-->
    <RewriterRule>
      <LookFor>/indianas.html</LookFor>
      <SendTo>~/_shop_web/Indiana.aspx</SendTo>
    </RewriterRule>
    <!--限时秒杀详细-->
    <RewriterRule>
      <LookFor>/idaDe/(\w+).html</LookFor>
      <SendTo>~/_shop_web/IndianaDetail.aspx?productno=$1</SendTo>
    </RewriterRule>


    <!--获取夺宝参与记录-->
    <RewriterRule>
      <LookFor>/api/getUserList.html</LookFor>
      <SendTo>~/_shop_web/ajaxService.aspx?action=getduobaorecords</SendTo>
    </RewriterRule>


    <!--赚取金币-->
    <RewriterRule>
      <LookFor>/earn.html</LookFor>
      <SendTo>~/_shop_web/earn.aspx</SendTo>
    </RewriterRule>

    <!--最新消息-->
    <RewriterRule>
      <LookFor>/news.html</LookFor>
      <SendTo>~/_shop_web/news.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/news/(\w+).html</LookFor>
      <SendTo>~/_shop_web/NewsDetail.aspx?newsid=$1</SendTo>
    </RewriterRule>


    <!--购物车-->
    <RewriterRule>
      <LookFor>/carts.html</LookFor>
      <SendTo>~/_shop_web/carts.aspx</SendTo>
    </RewriterRule>
    <!--购物车更新保险费用状态-->
    <RewriterRule>
      <LookFor>/carts/buyInsurance.html</LookFor>
      <SendTo>~/_shop_web/ajaxService.aspx?action=buyinsurance</SendTo>
    </RewriterRule>
    <!--从购物车中删除商品-->
    <RewriterRule>
      <LookFor>/carts/remove.html</LookFor>
      <SendTo>~/_shop_web/ajaxService.aspx?action=removefromcart</SendTo>
    </RewriterRule>
    <!--购物车立即购买-->
    <RewriterRule>
      <LookFor>/carts/exchangeNow.html</LookFor>
      <SendTo>~/_shop_web/ajaxService.aspx?action=exchangenow</SendTo>
    </RewriterRule>



    <!--会员中心-->
    <RewriterRule>
      <LookFor>/account.html</LookFor>
      <SendTo>~/_shop_web/_account/index.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/account/index.html</LookFor>
      <SendTo>~/_shop_web/_account/index.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/account/orders.html</LookFor>
      <SendTo>~/_shop_web/_account/index.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/account/points.html</LookFor>
      <SendTo>~/_shop_web/_account/MyPoints.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/account/indiana.html</LookFor>
      <SendTo>~/_shop_web/_account/myIndiana.aspx</SendTo>
    </RewriterRule>
    <RewriterRule>
      <LookFor>/account/address.html</LookFor>
      <SendTo>~/_shop_web/_account/MyAddress.aspx</SendTo>
    </RewriterRule>

    <!--选择收货地址-->
    <RewriterRule>
      <LookFor>/account/address/choose.html</LookFor>
      <SendTo>~/_shop_web/ajaxService.aspx?action=chooseaddress</SendTo>
    </RewriterRule>

    <!--修改地址-->
    <RewriterRule>
      <LookFor>/account/address/edit.html</LookFor>
      <SendTo>~/_shop_web/ajaxService.aspx?action=editaddress</SendTo>
    </RewriterRule>

    <!--获取地址信息-->
    <RewriterRule>
      <LookFor>/account/address/getinfo.html</LookFor>
      <SendTo>~/_shop_web/ajaxService.aspx?action=getaddressInfo</SendTo>
    </RewriterRule>

    <!--删除地址-->
    <RewriterRule>
      <LookFor>/account/address/delete.html</LookFor>
      <SendTo>~/_shop_web/ajaxService.aspx?action=deleteaddress</SendTo>
    </RewriterRule>

    <RewriterRule>
      <LookFor>/account/orderDetail.html</LookFor>
      <SendTo>~/_shop_web/_account/OrderDetail.aspx</SendTo>
    </RewriterRule>


    <RewriterRule>
      <LookFor>/api/joined.html</LookFor>
      <SendTo>~/_shop_web/AjaxService.aspx?action=joined</SendTo>
    </RewriterRule>



    <!--xxxxxxxxxxxxxxxxxxxxx-->
    <RewriterRule>
      <LookFor>/(\w+).html</LookFor>
      <SendTo>~/_shop_web/$1.aspx</SendTo>
    </RewriterRule>


  </Rules>
</RewriterConfig>



